<div
  *ngIf="course"
  class="card"
  [ngClass]="[
    course.category == 'BEGINNER' ? 'card--beginner' : '',
    course.category == 'INTERMEDIATE' ? 'card--intermediate' : '',
    course.category == 'ADVANCED' ? 'card--advanced' : ''
  ]"
>
  <!-- DOM property style: [style.text-decoration]="'underline'"                        -->
  <!-- Object:             [ngStyle]="{'text-decoration': 'underline', 'color': 'red'}" -->
  <!-- Function            [ngStyle]="cardClasses()"                                    -->
  <div class="card__header">
    <h3 class="card__title">
      {{ cardIndex + ') ' + course.title }}
    </h3>
  </div>
  <div class="card__content">
    <div class="card__image">
      <!--<img
        *ngIf="isImageVisible(); else noImage"
        [src]="course.iconUrl"
        [alt]="course.title"
      />-->
      <div
        *ngIf="isImageVisible(); else noImage"
        class="card__background-image"
        [ngStyle]="imageClasses()"
      ></div>
      <ng-template #noImage>
        <p>No image is available</p>
      </ng-template>
    </div>
    <p class="card__description">
      {{ course.description }}
    </p>
  </div>
  <div class="card__footer">
    <button
      class="card__button card__button--standard"
      (click)="onCustomButtonClicked()"
    >
      Custom browser event
    </button>
  </div>
</div>
