<!-- String: <div *ngIf="course" class="card" [ngClass]="'beginner intermediate'">-->
<!-- Array of strings: <div *ngIf="course" class="card" [ngClass]="['beginner', 'intermediate'">-->
<!-- Object:
<div
  *ngIf="course"
  class="card"
  [ngClass]="{ 'beginner': true, 'intermediate': false }"
>-->
<div *ngIf="course" class="card" [ngClass]="cardClasses()">
  <div class="card__header">
    <h3 class="card__title">
      {{ cardIndex + ') ' + course.description }}
    </h3>
  </div>
  <div class="card__content">
    <div class="card__image">
      <ng-template #noImage>
        <p>No image is available</p>
      </ng-template>
      <img
        *ngIf="isImageVisible(); else noImage"
        [src]="course.iconUrl"
        [alt]="course.description"
      />
    </div>
    <p class="card__description">
      {{ course.longDescription }}
    </p>
  </div>
  <div class="card__footer">
    <button
      class="card__button card__button--standard"
      (click)="onCustomButtonClicked()"
    >
      Custom browser event
    </button>
  </div>
</div>
